.navbar-title {
  color: white
}

#signup-login {
  margin-top: 3em;
}

.homepage {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

@media only screen and (max-width: 1676px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1160px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.App {
  display: grid;
  grid-template-columns: 160px 1fr;
  justify-items: center;
}

.App .ui.sidebar {
  position: relative;
  height: 100% !important;
  min-height: 100vh !important;
}

.ui.card {
  width: 100% !important;
  margin: 0 !important;
}

.sort-btn {
  display: block !important;
  margin: 2em auto !important;
}



